@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "Football Banter";
}

<title>title</title>

<div id="criteriaArea">
    <h2>Competition</h2>

    <div id="competition">
    
        <label id="competitionName"></label>

    </div>

    <h2>Fixtures</h2>

    <ul id="fixtures">
    </ul>

    <h2>Player</h2>

    <select id="players">
    </select>

    <select id="injuryTypes">
    </select>

    <select id="bodyParts"></select>

    <button id="generateArticle">Generate</button>
</div>

<div id="articleContent" style="display:none">


    <div class="container">

        <div class="jumbotron">
            <h1>Injury news</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-lg btn-success" href="javascript:ffbanter.view.showCriteria()" role="button">Click here for full story</a></p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Subheading</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Subheading</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>

            <div class="col-lg-6">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Subheading</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Subheading</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>

    </div> <!-- /container -->

   
</div>


@section scripts {
    @Scripts.Render("~/bundles/football")
}
